/*3-2*/
table{
    border: 1px solid black;
    border-collapse: collapse;
}

/*3-4*/
hr{
    border: 5px solid deepskyblue;
}

/*3-1*/
span{
    color: red;
    font-size: 16px;
}

/*3-3*/
img {
    width: 500px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*3-5*/
p{
    color: blue;
}