/*4.*/
/*8.*/
td[class="class1"] img{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    width: 100px;
    height: 100px;
}

td[class="class2"] img{
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
}

td[class="class3"] img{
    clip-path: ellipse(50% 70%);
    width: 100px;
    height: 100px;
}

td[class="class4"] img{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 20% 100%, 0 70%);
    width: 100px;
    height: 100px;
}

/*combinator selector*/
td > ul{
    width: 150px;
    height: 50px;
}


td > li{
    width: 150px;
    height: 50px;
}

/*3.*/
/*8.*/
/*attribute selector*/
#id1{
    background-color: RGB(104,255,54);
    color: purple;
}

#id2{
    background-color: RGB(180,190,60);
    color: #ff32bb;
}


#id3{
    background-color: RGB(255,255,54);
    color: blue;
}


#id4{
    background-color: RGB(104,255,255);
    color: brown;
}

table{
    border: 2px solid black;
    /*表格置中*/
    margin-left: auto;
    margin-right: auto;
}
[class*="class"]:hover{
    /*透明度*/
    opacity: 0.5;
}

a:link{
    color: green;
}

a:visited{
    color: red;
}

caption{
    font-size: 25px;
}

/*5.*/
hr{
    border: 5px solid deepskyblue;
}

#Cat1,#Cat2,#Cat3,#Cat4{
    background-color: aquamarine;
}

/*5.*/
br{
    line-height: 10px;
}
